@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  color: white;
}

header {
  background-color: #7a2828;
}

header h1 {
  padding-left: 1rem;
}

/* NAV */

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  background-color: #1f1c18;
}

nav ul li a{
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
}

nav ul li a:hover{
  background-color: #492a2a;
}

/* NAV BURGER */

nav input[type="checkbox"] {
  display: none;
}

.burger {
  width: 40px;
  user-select: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 30px;
  margin-right: 10px;
}

.burger span {
  display: block;
  height: 5px;
  width: 40px;
  margin-bottom: 8px;
  background: #fff;
  border-radius: 10px;
}

nav input[type="checkbox"]:checked + label > div > span:nth-child(2) {
  width: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

nav input[type="checkbox"]:checked + label > div > span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 13px;
  transition: all 0.3s ease-in-out;
}

nav input[type="checkbox"]:checked + label > div > span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  bottom: 13px;
  transition: all 0.3s ease-in-out;
}

nav input[type="checkbox"] + label + div {
  display: none;
  transition: all 0.3s ease-in-out;
}

nav input[type="checkbox"]:checked + label + div {
  display: block;
  transition: all 0.3s ease-in-out;
}

/* END NAV BURGER */

section div p {
  padding-left: 1rem;
  padding-right: 1rem;
}

p.signature {
  padding-left: 250px;
  font-weight: bold;
}

.portfolio-container {
  margin: 0;
  padding: 0;
}

#portfolio-about {
  background-color: #a73737;
}

#portfolio-content {
  background-color: #1f1c18;
}

#portfolio-apps a {
  text-decoration: none;
  color: #fff;
}

#portfolio-apps a:hover .portfolio-app-info,
#portfolio-apps a:hover .portfolio-app-item img  {
  background-color: #a73737;
  //opacity: 0.7;
}

#portfolio-content h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.portfolio-app-item {
  margin: 1rem;
  text-align: center;
  cursor: pointer;
}

.portfolio-app-item img {
  max-height: 300px;
}

.portfolio-app-info {
  background-color: #7a2828;
  padding: 1rem;
}

.portfolio-footer-image img {
  width: 10vw;
  height: 10vh;
}

#portfolio-footer {
  padding-top: 1rem;
  background-color: #7a2828;
}
